<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <test name="Regression Tests on Chrome">
        <classes>
            <class name="com.basic.testng.RunonChrome"/>
            <class name="com.basic.testng.RunonFirefox"/>
        </classes>
    </test>
</suite>
